---
layout: default
title: Floability Team
---

{% include header.html %}

<script type="text/css">
div.profile {
    width=150px;
    height=300px;
    background-color: #aaaaff;
    float: left;
    border: 1px solid black;
    margin: 10px;
}
</script>


The Floability team is a collaboration between the University of Notre Dame,
the University of Missouri, and the University of Illinois - Champaign-Urbana.

{% assign people = site.data.people | sort:'name' %}
{% for p in people %}
<div class=profile>
{% if p contains image %}
<img width=128 src={{p.image}}/>
{% elsif %}
<img width=128 src=images/people/unknown.jpg/>
{% endif %}
<b>{{p.name}}</b><br>
{{p.role}}<br>
{{p.institution}}<br>
</div>
