---
layout: default
title: Floability Team
---

<head>
<style>
  div.profilecontainer {
      overflow: auto;
  }
  div.profile {
      float: left;
      width: 150px;
      height: 250px;
      border: 1px solid black;
      background-color: #bbbbbb;
      margin: 10px;
      padding: 10px;
      text-align: center;
      color: black;
  }
  div.profileimage {
      width: 128px;
      height: 128px;
      margin: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; 
  };
</style>
</head>


{% include header.html %}

The Floability team is a collaboration between the University of Notre Dame,
the University of Missouri, and the University of Illinois - Champaign-Urbana.

<div class=profilecontainer>

{% assign people = site.data.people %}
{% for p in people %}
<div class=profile>
{% if p.image %}
<div class=profileimage style="background-image: url({{p.image}});"></div>
{% else %}
<div class=profileimage style="background-image: url(images/people/unknown.jpg);"></div>
{% endif %}
<b>{{p.name}}</b><br>
{{p.role}}<br>
{{p.institution}}<br>
</div>
{% endfor %}

</div>
